<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jane Smith's Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <style>
        .is-collapsed {
        	display: none;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <div class="avatar"></div>
            <h1>Jane Smith</h1>
            <p>Location: Portland, Oregon, USA</p>
        </header>
        <main>
            <div class="background">
                <h2>Background</h2>
                <p>I'm an aspiring web designer who loves everything about the web. I've lived in lots of different places and have worked in lots of different jobs. I'm excited to bring my life experience to the process of building fantastic looking websites.</p>
                <p>I've been a professional cook and gardener and am a life-long learner who's always interested in expanding my skills.</p>
            </div>
            <div class="goals">
                <h2>Goals</h2><a class="view-more">Hide</a>
                <div class="goals-content">
                    <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                    <p>I'd like to work for a web design firm helping clients create an impressive online presence.</p>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Github</a></li>
            </ul>
            <p>Copyright 2016, Jane Smith</p>
        </footer>
    </div>
</body>
</html>
